@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --text-black-50:#e8dfec;
}

html{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' , sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

:before,::after{
    box-sizing: border-box;
}

.aside ul
{
    list-style: none;
}

.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
}

.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
} 

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
} 

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative; 
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
    border: none;
}

.btn:hover{
    transform: scale(1.05);
}

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside
{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; 
    background: var(--bg-black-900);
}

.aside .nav
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 20%;
}

.aside .nav li{
    margin: 0 10px;
}


.aside .nav li a{
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 15px;
    border-bottom: 1px solid var(--text-black-50);
}

.aside .nav li a:hover{
    color: var(--skin-color-hover);
}

.aside .nav li a i{
    font-size: 20px;
    align-self: center;
    vertical-align:top;
}

.aside .nav li i{
    margin-right: 10px;
}

.aside .logo
{
    position: absolute;
    top: 10px;
    text-transform: capitalize;
    left: 200px;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 400;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 4px;
    position: fixed;
    z-index: 100;
}

.aside .logo a span{
    font-family: 'Clicker Script' , cursive;
    font-weight: 900;
    color: var(--skin-color);
    font-size: 1.7rem;
}

/* about */

.about
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.about .about-info
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 28px;
}

h3.hello span{
    font-family: 'Clicker Script' , cursive;
    margin: 15px 0;
    font-weight: 900;
    font-weight:bolder;
    font-size:2.1rem;
    color: var(--skin-color);
}

h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}

.typing
{
    color: var(--skin-color);
}

.about-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.about-info .social i
{
    margin-top: 50px;
    font-size: 35px;
    margin-left: 18px;
    color: var(--skin-color);
}

.about .about-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.about .about-img img
{
    margin: auto;
    border-radius: 5px;
    height: 400px;
    position: relative;
}



/* skills */

.skills .skills-content
{
    flex: 0 0 100%;
    max-width: 100%;

}

.skills .skills-content .education
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 10px;
}

.skills .skills-content h3.section-title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--bg-black-900);
}

.skills .skills-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 95%;
    margin-top: 1.5rem;
    margin: 10px;
    padding: 10px;
}

.skills .skills-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.skills .skills-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.skills .skills-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}

.skills .skills-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
    animation: moveline 3s linear forwards;
}

@keyframes moveline{
    0%{
        height:0;
    }
    100%{
        height: 100%;
    }
}

.skills .skills-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.skills .skills-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.skills .skills-content .timeline .timeline-date .fa{
    margin-right: 5px;
}

.skills .skills-content .timeline .timeline-title
{
    font-weight: 700;
    font-size:18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.skills .skills-content .timeline .timeline-text
{
    line-height: 25px;
    font-size:16px;
    text-align: justify;
    color: var(--text-black-700);
}

/*Skills list*/

.skills .skills-content .skill-list
{
    flex: 0 0 50%;
    margin-top: 10px;
}

.skills .skills-content .skill-list .skill-list-container
{
    margin-left: 60px;
}

.skills .skills-content .skill-list .skill-list-container .skill-list-box-container{
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.skills .skills-content .skill-list .skill-list-container .skill-list-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8.5rem;
    height: 8.5rem;
    border: 1px solid var(--skin-color);
    border-radius: 10px;
    margin: 15px;
    background-color: var(--bg-black-100);
}

.skills .skills-content .skill-list .skill-list-container .skill-list-box:hover{
    transform: scale(1.05);
}

.skills .skills-content .skill-list .skill-list-container .skill-list-box i{
    color: var(--skin-color);
    font-size: 30px;
    animation: skillIcon 3.5s infinite;
}

@keyframes skillIcon {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.skills .skills-content .skill-list .skill-list-container .skill-list-box i{
    color: var(--skin-color);
    font-size: 30px;
}

.skills .skills-content .skill-list .skill-list-container .skill-list-box p{
    margin-top: 8px;
    color: var(--skin-color);
}

/* Portfolio */

.portfolio .container
{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.portfolio .portfolio-item p span
{
    color: var(--text-black-900);
}

.portfolio .portfolio-item p
{
    color: var(--text-black-700);
}

.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
    transition: 0.2s ease-in-out;
}

.portfolio .portfolio-item-inner .portfolio-img img:hover
{
    width: 100%;
    display: block;
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
}

.portfolio .portfolio-item-p
{
    margin-top: 5%;
}

.portfolio .portfolio-item ul p{
    margin-top: 5%;
}

.portfolio .portfolio-item ul li{
    color: var(--text-black-700);
    margin-left: 20px;
}

/* Contact */

.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item
{
    flex: 0 0 23%;
    max-width: 40%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon
{
    display: inline-block;
}

.contact .contact-info-item .icon .fa,.contact .contact-info-item .icon .fab{
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    columns: var(--text-black-900);
    text-transform: capitalize;
    margin:15px 0 5px;
}

 .ping-me-button .ping-me
{
    display: flex;
    align-items: center;
    justify-content: center;   
}

/* Media query */

@media(max-width: 1199px)
{
    .aside .logo a{
        visibility: hidden;
    }
    
    .aside .logo a span{
        visibility: hidden;
    }

    .aside
    { 
        background-color: var(--bg-black-900);
    }

    .aside .nav li a i
    {
        display: none;
    }

    .aside .nav
    {
        display: flex;
        align-items: space-between;
        justify-content: center;
        margin-left: 5px;
    }

    .aside .nav li a{
        font-size: 12px;
        padding: 5px;
    }

    .skills .skills-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }  
}

@media(max-width: 991px)
{
    .skills .skills-content .education,
    .contact .contact-info-item
    .profolio .portfolio-item ,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .about .about-info
    {
        order: 2;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about .about-img
    {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
    }

    .skills .skills-content  .skills .skill-item
    {
        flex: 0 0 100%;
        max-width: 90%;
        margin-left: 5%;
    }
}

@media(max-width:814px){

    .skills .skills-content .education
    {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 10px;
        order: 2;
    }

    .skills .skills-content .skill-list
    {
        flex: 0 0 100%;
        margin-top: 10px;
    }

    .skills .skills-content .skill-list .skill-list-container
    {
        margin-left: 10px;
    }
}


@media(max-width: 767px)
{
    .contact,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .skills .skills-content .education,
    .skills .skills-content .personal-info ,
    .skills .skills-content .skills
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .section
    {
        background: var(--bg-black-700);
        max-width: 100%;
        overflow-x: hidden;
    }
} 

/* Scrollbar */

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: var(--skin-color);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--skin-color-hover);
}