@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Quattrocento:wght@400;700&display=swap');

:root {
    --background-color: #02000e;
    --white: #fff;
    --text-orange: #ff8e04;
    --light-orange: #d51e1e41;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.section {
    min-height: 80vh;
    width: auto;
    background-color: var(--background-color);
    color: var(--white);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--background-color);
}

.navbar .nav {
    list-style: none;
    display: flex;
    margin-left: 20%;
}

.navbar .nav li {
    margin: 0 15px;
}


.navbar .nav li a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: var(--white);
    padding: 15px;
    border-bottom: 1px solid var(--text-orange);
}

.navbar .nav li a:hover {
    color: var(--text-orange);
}

.navbar .nav li a i {
    font-size: 20px;
    align-self: center;
    vertical-align: top;
}

.navbar .nav li i {
    margin-right: 10px;
}

.navbar .logo {
    position: absolute;
    top: 10px;
    text-transform: capitalize;
    left: 200px;
}

.navbar .logo a {
    color: var(--white);
    font-weight: 400;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 4px;
    position: fixed;
    z-index: 100;
}

.navbar .logo a span {
    font-family: 'Clicker Script', cursive;
    font-weight: 900;
    color: var(--text-orange);
    font-size: 1.7rem;
}

/* Section-1 About */

.section-1 {
    padding: 10% 15%;
}

.section-1 h1,
p {
    padding: 2%;
    font-family: 'Poppins', sans-serif;
}

.section-1 h1 span {
    color: var(--text-orange);
}

.section-1 .btn-resume {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--white);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--text-orange);
    transition: all 0.3s ease;
    border: none;
    margin: 2%;
}

.section-1 .btn-resume:hover {
    transform: scale(1.05);
}

/* Section-2 */

.section-2 {
    padding: 1% 15%;
}

.skill-list .skill-list-container .skill-list-box-container {
    display: flex;
    flex-direction: column;
}

.skill-list .skill-list-container .skill-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-list .skill-list-container .skill-list-box-container .skill-box-title {
    font-size: 18px;
    margin: 20px 1px 1px 1px;
}

.skill-list .skill-list-container .skill-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border: 1px solid var(--text-orange);
    border-radius: 10px;
    white-space: nowrap;
    margin: 10px 0;
    gap: 5px;
    transition: transform 0.2s ease;
    padding: 15px;
}

.skill-list .skill-list-container .skill-list-box-container .skill-list-box:hover {
    transform: scale(1.05);
}

.skill-list .skill-list-container .skill-list-box i {
    color: var(--text-orange);
    font-size: 15px;
}

.skill-list .skill-list-container .skill-list-box p {
    color: var(--text-orange);
    font-size: 15px;
}

/* Section-3 */

.section-3 {
    padding: 3% 15%;
}


.timeline {
    padding: 30px 15px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.timeline .timeline-item {
    position: relative;
    padding-left: 40px;
    padding-bottom: 50px;
}

.timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--text-orange);
}

.timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--text-orange);
}

.timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.timeline .timeline-date span {
    margin-right: 10px;
}

.timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
}

.timeline .timeline-text {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}

.timeline .timeline-text ul {
    font-size: 16px;
    padding-left: 25px;
    margin: 10px;
}

.timeline .timeline-text ul li {
    font-size: 16px;
    padding-left: 20px;
    margin: 10px;
}

.timeline .timeline-text .journey-skills {
    display: flex;
    margin-top: 3%;
}

.timeline .timeline-text .journey-skills p {
    background-color: var(--light-orange);
    margin: 0px 5px;
    padding: 5px 15px;
    border-radius: 15px;
}


/* Section-4 */

.section-4 {
    padding: 0% 15%;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 1rem 4rem 1rem;
}

.tab-buttons button {
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid var(--text-orange);
    color: var(--white);
    padding: 0.5rem 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0rem 1rem;
    font-size: 14px;
}


.tab-buttons button.active {
    font-size: 18px;
}

.tab-buttons button:hover,
.tab-buttons button.active {
    color: var(--text-orange);
    font-size: 18px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-overall-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: stretch;
}

.project-individual-container {
    border: 1px solid var(--text-orange);
    border-radius: 10px;
    width: 300px;
    transition: transform 0.3s;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 1rem;
}

.project-individual-container .project-details-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-individual-container .project-details-container span {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-individual-container .project-details-container a {
    color: var(--text-orange);
}

.project-individual-container .project-details-container ul li {
    margin-left: 25px;
}

.project-individual-container .project-details-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.project-individual-container .project-details-container img:hover {
    transform: scale(1.02);
    transition: ease-in-out 0.5s;
}

.project-individual-container .project-details-container .journey-skills {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.project-individual-container .project-details-container .journey-skills p {
    background-color: var(--light-orange);
    margin: 10px 5px;
    padding: 5px 15px;
    border-radius: 15px;
}


/* Footer */

.footer {
    background-color: var(--background-color);
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    padding-top: 5rem;
}

.footer .footer-text p {
    color: var(--white);
    text-wrap: nowrap;
}

.footer .social-media-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer .social-media-div a {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.footer .social-media-div a i {
    color: var(--white);
    margin: 0 5px;
    font-size: 20px;
}

.footer .social-media-div a span {
    color: var(--white);
    margin: 0 5px;
}


/* Media Query */

@media(max-width: 1199px) {
    .navbar .logo a {
        visibility: hidden;
    }

    .navbar .logo a span {
        visibility: hidden;
    }

    .navbar {
        background-color: var(--background-color);
    }

    .navbar .nav li a i {
        display: none;
    }

    .navbar .nav {
        display: flex;
        align-items: space-between;
        justify-content: center;
        margin-left: 5px;
    }

    .navbar .nav li a {
        font-size: 12px;
        padding: 5px;
    }
}

@media(max-width:710px) {

    .section-3 , .section-2, .section-1, .section-4 {
        padding: 15% 0% 5% 5%;
    }

    .timeline .timeline-text ul li {
        font-size: 16px;
        padding: 0px;
        margin: 0px;
    }

    .timeline .timeline-text .journey-skills {
        display: flex;
        margin-top: 3%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    .footer .footer-text {
        text-wrap: nowrap;
        margin: 5px 0px;
    }

    .footer .social-media-div a {
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 20px;
    }

    .footer .social-media-div a i {
        color: var(--white);
        margin: 0 5px;
        font-size: 15px;
    }

    .footer .social-media-div a span {
        color: var(--white);
        margin: 0 5px;
        font-size: 18px;
    }
}

@media(max-width:420px) {

    .section-1 {
        margin-top: 3rem;
        padding: 5% 10%;
    }

    .section-1 .btn-resume {
        margin-top: 1.5rem;
    }

    .section-2 {
        padding: 0% 5%;
    }

    .section-4 {
        padding: 0% 5%;
    }

}